pipeline/EMPH2355.json
{
	"name": "EMPH2355",
	"properties": {
		"activities": [
			{
				"name": "EMPH2355",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT '1' AS ID\nUNION ALL\nSELECT '2'\nUNION ALL \nSELECT '3'"
					},
					"dataset": {
						"referenceName": "EMPH2355_Sink",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "EMPH2355_ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EMPH2355",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('EMPH2355').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EMPH2355_Copy Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "emph2355",
										"wildcardFileName": "@item().ID.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "EMPH2355",
									"type": "DatasetReference",
									"parameters": {
										"Path": {
											"value": "@item().ID",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "EMPH2355_Sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}